<div class="top-content2 img-responsive" style="background-image: url('/image/photo1.png'); opacity: .8">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div style=" background: rgba(0,0,0, 0.8);" class="panel panel-primary ">
                    <div class="panel-heading">Login Form</div>
                    <div class="panel-body">
                        <div class="modal-body">
                            <form role="form" class="form-horizontal" method="post" action="/users/login">
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100" style="color: white">Username</span>
                                    <input class="input100" type="text" name="username" required style="border: none">
                                    <span class="focus-input100"></span>
                                </div>
                                <div class="wrap-input100 validate-input">
                                    <span class="label-input100" style="color: white">Password</span>
                                    <input style="color: white;border: none" class="input100" type="password" name="password" placeholder="**************">
                                    <span class="focus-input100"></span>
                                </div>
                                <center>
                                    <button type="submit" class="btn btn-danger btn-md" style="font-size: 20px">Login </button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
